<main>
  <router-outlet>
    <!-- header -->
    <div class="container">
      <div class="header">
        <p>Prueba tecnica</p>
        <a> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcUsdVYeZEI32XylZ41bSfT2Cqfy7b5RkvbA&s"
            alt="company logo"> </a>
      </div>
    </div>
    <!-- main content  -->
    <div class="container">
      <div class="card">
        <h2>Gestion de pozos petroleros</h2>
        <button type="button" (click)="goToPozos()">Gestionar</button>
      </div>
      <div class="card">
        <h2>Registro de nuevos pozos petroleros</h2>
        <button type="button" (click)="goToForm()">Registrar</button>
      </div>
    </div>
    <!--  footer -->
    <div class="container">
      <footer>
        <hr>
        <br>
        <ul>
          <li> <a href="https://github.com/Mix-agames12" target="_blank"> Github</a></li>
          <li> <a href="https://www.linkedin.com/in/anthony-guerra-b5910715b/" target="_blank"> Linkedin</a> </li>
          <li> <a href="mailto:tonixoskv7@gmail.com" target="_blank"> Correo</a> </li>
        </ul>
      </footer>
    </div>
  </router-outlet>
</main>