<main>
  <router-outlet>
    <!-- header -->
    <div class="container">
      <div class="header">
        <p>Prueba tecnica</p>
        <a> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcUsdVYeZEI32XylZ41bSfT2Cqfy7b5RkvbA&s"
            alt="company logo"> </a>
      </div>
    </div>
    <!-- main content  -->
    <div class="container">
      <div class="card-container">
        <div class="card card1">
          <h2>Gestion de pozos petroleros</h2>
          <button type="button" routerLink="/pozos">Gestionar</button>
        </div>
        <div class="card card2">
          <h2>Registro de nuevos pozos petroleros</h2>
          <button type="button" routerLink="/form">Registrar</button>
        </div>
      </div>
    </div>

  </router-outlet>
</main>